@model BaiTapLonNhom06.Models.Phong

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có muốn xóa thông tin phòng không?</h3>
<div>
    <h4>Phong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSVC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PhongID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
