@model BaiTapLonNhom06.Models.GiaPhong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiaPhong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGiaPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGiaPhong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGiaPhong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
