@{
    ViewData["Title"] = "Home Page";
}
<style>
       .IndexDiv
       {
         border-radius: 5px;
        position: fixed;
        background: linear-gradient(to right,#C4E0E0,#C4E0F9);
        top: 8%
        left:0%
        hight:95%;
        width:85%;
       }
h9{
  
    font-size: 25px;
    color: #000000;
}
h2{
     font-size: 15px;
    color: #000000;
}
</style>
  <br>  <marquee direction = left scrollamount = 20 scrolldelay = 300>
    <a href ='https://khachsan.chudu24.com/t.da-nang.html' target = 'blank'>
    <p><h9>Chào mừng Qúy Khách đến với HOTLE CENTER</h9></p>
    </a></marquee></br>
<div class="IndexDiv">
    <p><h4 class="text-center font-weight-bolder">WELCOME</h4></p>
    <p><h1 class="text-center font-weight-bolder"> HOTLE CENTER</h1> </p>
    <div class="row m-2">

        <div class="col-8">
               <p><h5> Chúc quý khách có chuyến nghỉ dưỡng vui vẻ. </h5> </p>
        </div>
        <div class="col-4">
            <img src="~/images/Khach-san.png" class="img-fluid"/>
        </div>
        <div class="1">
               <p><h2> Địa chỉ: </h2> </p>
               <p><h2> 234-Phạm Văn Đồng-Quận Bắc Từ Liêm-TP Hà Nội </h2> </p>
                <p><h2>Liên hệ:<a href="https://www.facebook.com/profile.php?id=100041321041630">FB:Trung Hiếu</a></h2></p>
               
        </div>



    </div>
</div>
