@{
    ViewData["Title"] = "Home Page";
}
<style>
       .IndexDiv
       {
        position: fixed;
        background: linear-gradient(to right,#C4E0E0,#C4E0F9);
        top: 8%
        left:0%
        min-hight:95%;
        min-width:85%;
       }

</style>
<div class="IndexDiv">
    <p><h4 class="text-center font-weight-bolder">WELCOME</h4></p>
    <p><h1 class="text-center font-weight-bolder"> HOTLE CENTER</h1> </p>
    <div class="row m-2">

        <div class="col-8">
               <p><h5> Chúc quý khách có chuyến nghỉ dưỡng vui vẻ. </h5> </p>
        </div>
        <div class="col-4">
            <img src="~/images/Khach-san.png" class="img-fluid"/>
        </div>

    </div>
</div>
