@model BaiTapLonNhom06.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo Dịch vụ</h1>

<h4>Nhập Dịch vụ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceID" class="control-label"></label>
                <input asp-for="ServiceID" class="form-control" />
                <span asp-validation-for="ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkName" class="control-label"></label>
                <input asp-for="DrinkName" class="form-control" />
                <span asp-validation-for="DrinkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HaircutName" class="control-label"></label>
                <input asp-for="HaircutName" class="form-control" />
                <span asp-validation-for="HaircutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicePrice" class="control-label"></label>
                <input asp-for="ServicePrice" class="form-control" />
                <span asp-validation-for="ServicePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
